body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  max-width: 500px;
  margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}